.SourMix{
    width:100%;
    height:100px;
    background: #D67131;
}

.CranBerry{
    width:100%;
    height:100px;
    background: #E33967;
}

.PeachLiquor{
    width:100%;
    height:100px;
    background: #CF8787;
    opacity: .7;
}