.Cocktail{
    width: 200px;
    height: 300px;
    margin: auto;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    vertical-align: bottom;
    display: table-cell;
    border: 3px solid;
    border-top: 0;
    border-bottom: 20px solid;
    border-color: rgba(255,255,255,.7); 
    background: rgba(255,255,255,.1);
    border-radius: 0% 0% 15% 15%;
}